# 
# Here I'm putting in files and folders
# to be ignored from git.
#
# Cross ignore for dragonstone and
# dragonstone-lang.org website.
#

# Ignore any Output/Build Files.
dragonstone.exe
dragonstone.pdb
dragonstone.res
dragonstone.o
dragonstone-dev
gc.dll
iconv-2.dll
pcre2-8.dll
zlib1.dll
libssl-3-x64.dll
libcrypto-3-x64.dll
yaml.dll
version.h
NUL
.dragonstone
install-dragonstone.iss
installer
release

# Ignore any Output/Build Cache from testing.
.tmp
.cache
.c
.c_cache
.ruby
.ruby_cache
.crystal
.crystal_cache

# Ignore my notes.
REFACTOR.md
ROADMAP-IDEALS.md

# Ignore any IDE folders.
.vscode
.idea
.vim

# Annoying IDE ignores.
.fake
