# 
#   .gitignore for Dragonstone.
# 
# 
# Here I'm putting in files and folders
# to be ignored from git. This is also
# a cross-ignore for dragonstone, forge,
# eden, and dragonstone-lang.org website.
# 

# Various notes, temporary files, and other artifacts.
.dragonstone

# Ignore any output/build artifacts, directories, and logs.
install-dragonstone.iss
dragonstone-dev
dragonstone.res
dragonstone.o
version.h
VERSION
NUL
bin/build/
bin/dev/
bin/payloads/
bin/logs/

# Unicode vendored build/data artifacts.
src/dragonstone/stdlib/modules/shared/unicode/proc/UCD/*
!src/dragonstone/stdlib/modules/shared/unicode/proc/UCD/DerivedCoreProperties.txt
!src/dragonstone/stdlib/modules/shared/unicode/proc/UCD/emoji/emoji-data.txt
src/dragonstone/stdlib/modules/shared/unicode/proc/vendor/*
!src/dragonstone/stdlib/modules/shared/unicode/proc/vendor/utf8proc.c
!src/dragonstone/stdlib/modules/shared/unicode/proc/vendor/utf8proc_data.c
!src/dragonstone/stdlib/modules/shared/unicode/proc/vendor/utf8proc.h

# Boehm GC vendored build/data artifacts.
src/dragonstone/shared/runtime/abi/std/gc/vendor/lib/cord/
src/dragonstone/shared/runtime/abi/std/gc/vendor/lib/extra/
src/dragonstone/shared/runtime/abi/std/gc/vendor/lib/include/
src/dragonstone/shared/runtime/abi/std/gc/vendor/lib/libatomic_ops/

# IDE, OS, and website specific ignores. Plus, any caches 
# from testing + abi/ffi testing, and spec outputs.
.fake
.DS_Store
.vscode
.idea
.nvim
/build
/.svelte-kit
node_modules
.output
.vercel
.netlify
.wrangler
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.cache/
.c_cache/
.crystal_cache/
.ruby_cache/
__pycache__/
*.pyc
.js_cache/

# Others (TEMP IGNORE & REMOVE AFTER REVIEW)
.github/workflows/
bin/scripts/
spec/bootstrap/
bootstrap/
docs/
